[2021-02-17 02:24] bchaperon commented on #126
Hi @ivaylov

When you call "authorize", I see that you set the parameter "license" to "free".
This is incorrect. The value of this parameter should be the id of the license, not its name.
https://emotiv.gitbook.io/cortex-api/authentication/authorize

I recommend you to completely remove this parameter, because in most cases, Cortex will find your license automatically.

[2021-02-17 09:04] ivaylov commented on #126
Thank you so I will try. in any case, where I can found my id of the license?

[2021-02-19 04:57] grosssj opened #127 "CreateSession gives Error 32004 in python or websocket"
Trying to validate new implementation. BCI app connects. Python indicates connection, but attempt to start session returns 32004 headset not available. Goal is to perform basic BCI functions without EEG on basic (free) license. Working through API manual and fail here. What are possible causes for this error, I don’t find an explanation of error code.

I would appreciate any pointers.

Stay safe.

[2021-02-19 07:39] bchaperon commented on #127
Hi @grosssj

To open a session with a headset, the status of the headset must be "connected". If the status is "discovered", then you must call "controlDevice" to connect the headset.
https://emotiv.gitbook.io/cortex-api/session/createsession

If you run Emotiv BCI in parallel, then BCI will call "controlDevice" to connect the headset, so your application don't need to do it. That's why it works i

[2021-02-19 07:59] grosssj commented on #127
Hi bchaperon,

thank you very much for the feedback. As we do not currently have a license for more than BCI activities, I look forward to taking advantage of your information when I get up in the morning. Thank you very much.  I have been trying to get the example to function as a template for doing BCI interfacing to control an object in real time. Thanks again. Is there a good reference on the

[2021-03-03 06:20] #127 closed, assigned to nobody

[2021-03-03 06:54] bchaperon commented on #126
If you have a paid license, then I think you received the license id by email when you subscribed.

[2021-03-03 06:54] #126 closed, assigned to nobody

[2021-04-12 11:34] ivaylov opened #128 "record.py "failure" "code": -32138,"
I couldn't understand this error. where I'm making mistake?

# export parameters
record_export_folder = 'C:\\'
record_export_data_types = ['EEG', 'MOTION', 'PM', 'BP']
record_export_format = 'CSV'
record_export_version = 'V2'

export record result
 {
    "id": 13,
    "jsonrpc": "2.0",
    "result": {
        "failure": [
            {
                "code": -32138,
                "message": "Th

[2021-04-12 13:04] ivaylov opened #129 "authorize error about behavior"
I authorize with this code but giving following error any suggestion?

{
    "id": 1,
    "jsonrpc": "2.0",
    "method": "authorize",
    "params": {
        "clientId": "xxx",
        "clientSecret": "xxx"
    }
}

Subscription: {"error":{"code":-32018,"data":{"behavior":"This parameter is required: cortexToken"},"message":"Missing the required parameters."},"id":1,"jsonrpc":"2.0"}
Profile Set-u

[2021-04-12 15:49] #128 closed, assigned to nobody

[2021-04-13 02:43] #129 closed, assigned to nobody

[2021-04-13 02:52] bchaperon commented on #129
Hi @ivaylov

After you send the request "authorize", you must wait for the response from Cortex, and extract the Cortex token from this response. Then you must pass this token as an argument of other methods like "subscribe" or "mentalCommandBrainMap".

[2021-04-13 15:57] jyauri opened #130 "authorize error after successful requestAccess"
I have an **authorize** error in my registered CortexApp with EEG. It gives me

{'error': {'code': -32002, 'message': **'Invalid License Key**.'}, 'id': 1, 'jsonrpc': '2.0'}

but the previous step **requestedAccess** was successful:

{'id': 1, 'jsonrpc': '2.0', 'result': {'accessGranted': True, 'message': 'The user has granted access right to this application.'}}

To test what is happening, I regi

[2021-04-15 02:38] chenlixiao-a opened #131 "The name of clientID and clientSecret does not exist in the current context"
I creat a APP and get the clientID and clientSecret. But when I run it it tells me that"The name of clientID and clientSecret does not exist in the current context."Can you tell me how to deal with it?
`[Header("Connection")]
    public string socketUrl = "wss://localhost:6868";

    [Header("Emotiv")]
    public string clientId= WiPiYYURLcBSKviJ4mxYA498H4IgNnh7YPuOBgB0;
    public string clientSe

[2021-04-15 03:44] bchaperon commented on #131
Hi @chenlixiao-a

Please, do not publish the client secret of your application on a public forum. The client secret must remain a secret :)

About your error, how did you get it? Does it come from the Cortex API? What message did you send to Cortex to receive this error?
Please post the complete response from Cortex.

[2021-04-15 03:56] bchaperon commented on #130
Hi @jyauri

To get the EEG data from the API, you need a paid PRO license. Then you have to fill a form on the EMOTIV web site. The links for the forms are in the documentation:
https://emotiv.gitbook.io/cortex-api/#license

If you already did these steps, then try to call the method "authorize" without sending any license ID. In most cases, Cortex will find your license ID automatically, based on

[2021-04-15 04:42] chenlixiao-a commented on #131
Hello,
I want to run the project  [https://github.com/BrandlMax/BrainFramework].I follow the instructions.I l get the clientID and clientSecret. Then I added them in the code . After that I click the  the button of "play" in Unity.The errors tells me that "The name of xxxxxxxx(my clientID and clientSecret) does not exist in the current context."

[2021-04-15 05:35] bchaperon commented on #131
If the error comes from the BrainFramework, then please contact the authors of this software to get help.
EMOTIV is not involved in the development of this software and so we cannot provide any support for it.

[2021-04-15 17:26] jyauri commented on #130
Hi @bchaperon

Now, we have an EmotivPro Bussiness licence. Since I am a researcher student I fill the form, but I din't receive any response, despite the email "We should respond to your request within 24 hours".

To use the CortexApi, additionally should we have to pay this license [Business API License](https://www.emotiv.com/product/business-sdk-license/ )?

[2021-04-18 21:30] floriangamillscheg opened #132 "Unity getContactQuality is always -1"
Hello!

I'm having difficulties getting the Unity example to work. When I start the Unity example, it **correctly authorizes** it, but when the "**ensure good contact quality" screen** appears it just shows for 1 frame the correct quality,
![Bildschirmfoto 2021-04-18 um 23 17 50](https://user-images.githubusercontent.com/56998878/115161182-713b8300-a09c-11eb-83ec-aa0b05748b9c.png)
but then the qua

[2021-04-19 09:29] #131 closed, assigned to nobody

[2021-04-19 09:39] bchaperon commented on #130
Hi @jyauri

If you didn't get any response to your request, then please contact the EMOTIV customer support. Give them the EMOTIV id that owns the PRO Business license and they will be able to sort it out for you.
https://www.emotiv.com/contact-support/

[2021-04-21 10:33] jyauri commented on #130
@bchaperon , sorry I am late, Until today I didn't receive any response,  I have to contact to the support, thank you?

[2021-04-22 02:31] bchaperon commented on #130
@jyauri Yes please, contact the EMOTIV support. Your issue is clearly related to your license, so the support will be able to help you.

[2021-04-22 03:39] tungntEmotiv commented on #132
Hi @floriangamillscheg ,

We have just updated unity-plugin and unity-example to support for Emotiv Cortex 2.7.0. Please update and check again. Let us know about result. Thanks

[2021-04-24 12:45] floriangamillscheg commented on #132
HI @tungntEmotiv ,

yes thank you, it now works! I have 2 other questions:
1. is there a way to decrease the time between the measurement of the performance metrics data? It seems the performance data is only updated about every 30 seconds. Is there a way to decrease this time?
2. Is the profile only used for the mental commands and facial expression? Or in other words, can a trained profile help

[2021-04-26 02:59] bchaperon commented on #132
Hi @floriangamillscheg

1. The API should send you the PM data every 10 seconds. Internally, Cortex updates the PM every 0.5 seconds, but you need a paid PRO license with the option "High-Res Performance Metrics" to see the PM at 2 Hertz.
https://www.emotiv.com/emotivpro/

2. Yes, the profile is only for mental command and facial expressions. You cannot train the performance metrics.

[2021-04-26 10:21] chenlixiao-a opened #134 "Can I control a ball to move in cortex-v2-example?"

[2021-04-27 13:48] jyauri commented on #130
No solution, and I am disappointed with Emotiv.  After a week, they say me that even the free BCI option allows me to access data, such as power spectrum and others, but noting technical answer about my problem. Only, ask me to register in the form, which I did many times, and registered many apps to get the cliente_id, and client_secret, none of them works.

When I call the "method": "authorize"

[2021-04-28 07:33] bchaperon commented on #130
Hi @jyauri

I just talked to the support team. They will contact you again very soon.

[2021-04-28 07:33] #130 closed, assigned to nobody

[2021-04-29 13:18] jyauri opened #135 "contact quality vs eeg quality in EmotivPro 2.7.0"
Hi all, I am sorry, maybe my question is off topic.

Today I unpack my Emotiv X headeset.
My software:
- Windows 10
- EmotivPro 2.7.0.341.
- An Emotiv account of student.

I drop the pads and setup on the EEG. But when I go the the software to record something, I was surprised, I never get 100% of eeg quality instead of the contact quality is 100%, even when I stay quit, so I assume it isn't not w

[2021-04-30 20:26] yarac12 opened #136 "A function for output string variables."
In the examples named live_advance.py, train.py, train_advance.py...etc. (using the python codes), the function .live() was being used to output the trained commands.
Is there any function we can use that returns mental commands and facial expressions as string variables??

[2021-05-05 06:48] #132 closed, assigned to nobody

[2021-05-05 07:08] bchaperon commented on #135
Hi @jyauri

The difference between Contact Quality and EEG Quality is explained on this page:
https://emotiv.gitbook.io/cortex-manual/setting_up_your_eeg_device/view_contact_quality_map/contact-quality-cq-vs.-eeg-quality-eq

Reaching 100% EEG quality is more difficult than reaching 100% CQ. It is expected. The EEG quality score is always lower than or equal to the contact quality score.

There is

[2021-05-05 07:16] bchaperon commented on #136
Hi @yarac12

Sorry, I don't understand your question. What do you want to do exactly?

[2021-05-05 08:57] floriangamillscheg opened #137 "Mental commands"
Hello!

I am having some difficulties when I try to load a profile for using the mental commands. Like in the example, I first:

- connect to the headset like in the unity example
- then I subscribe to `sys` and `com` data streams
- then I instantiate a new BCITraining object and call `Init()`
- then I call `GetDetectionInfo("mentalCommand");`
- then I call `queryProfile` where my profile is corre

[2021-05-05 13:21] yarac12 commented on #136
Instead of streaming the data to the prompt I want to save the data inside variables. so I can use these variables later to connect them with arduino.

[2021-05-05 13:36] yarac12 commented on #136
instead of this function ( in python )
	def live(self, profile_name):
		print('begin live mode ----------------------------------')
		# load profile
		status = 'load'
		self.c.setup_profile(profile_name, status)

		# sub 'com' stream and view live mode
		stream = ['com', 'fac']
		self.c.sub_request(stream)

 instead of stream function, we want to have result= "something", meaning if we print resul

[2021-05-05 15:13] floriangamillscheg commented on #137
The problem was that the profile was loaded, but Init was not done.... Therefore I load the profile in `OnQueryProfileOK`

[2021-05-05 15:13] #137 closed, assigned to nobody

[2021-05-06 01:14] NguyenDuyToan commented on #136
@yarac12  you could modify the ` sub_request` method under cortex.py module. The method simply waits for stream data from the websocket connection and print out the data values. So basically you could store the stream data to a variable instead of printing it.

[2021-05-06 08:31] robbelouwet opened #138 "nodejs: authroize() gives invalid license key"
Hi

I'm trying out the nodejs example. Everything works fine until i query the authorize() function. I get hit with an 'Invalid Licens key'

[code]

I tried with 'Basic License' or just leaving out the license out entirely because the docs say it's optional. However I keep getting this error. Frankly I think the docs should mention a few example strings of how the license string should look like.

[2021-05-06 09:16] robbelouwet commented on #138
So I fixed it...

My client secret and client ID pointed to a cortex APP I created for which I specified it would need raw EEG data (I ticked that EEG box). For this you need a EEG Pro License, only I have the Basic and PRO Lite license. So it said invalid license.

My point still stands about the example strings though. I know it's optional, but I imagine there are people with multiple licenses a

[2021-05-06 09:16] #138 closed, assigned to nobody

[2021-05-06 09:38] floriangamillscheg opened #139 "Get MentalCommand Data"
Hey,

1. I want to use the mental commands for my application using Unity... I subscribe to `sys`  and `com` data streams and then I load my profile.... But how am I able to retrieve the current mental commands? I can't find a  method in `DataStreamManager`.... I know that the current command is printed in `OnMentalCommandReceived` but how can I actually get to the commands?

2. The commands that

[2021-05-10 15:08] #134 closed, assigned to nobody

[2021-05-11 18:44] ClaireShuttle commented on #137
hi there
Could I please talk to you about the work you are doing?
I need some support from someone with both unity and emotiv.
would you be able to assist please?
My address claire@monichron.com
thanks

[2021-05-12 01:31] #135 closed, assigned to nobody

[2021-05-12 01:32] #136 closed, assigned to nobody

[2021-05-12 20:24] nicpenaloza opened #140 "Problem with the connection between the Cortex API and Flutter"
Hello, I am currently trying to make a connection between my App in Flutter and Cortex API through the websocket, as such it does not generate an error, but I am not receiving a response.

I am sending a json as a request (as the documentation indicates). The Websocket should respond with a json, but I am not receiving any response, it generates a null.

![dudap1](https://user-images.githubusercon

[2021-05-17 05:44] tungntEmotiv commented on #139
Hi @floriangamillscheg ,

Thanks for your patience.
1.   Yes, after subscribing the data and load profile. You can see the current mental commands. But you must load a training profile that contains training data for at least one action. Please reference the "Getting live actions" flow at [link](https://emotiv.gitbook.io/cortex-api/bci)
In the OnMentalCommandReceived  function, we have parsing the

[2021-05-19 11:38] bchaperon commented on #140
Hi @nicolaspgamba

I have no experience with Flutter, and we don't use this framework at EMOTIV. So it impossible for me to check if your source code is correct or not.

Which OS are you using?
Can you try the Python example (or any other example) from this Github repo and see if it works?
Does your program handle the errors that may occur when you connect to the web socket?

[2021-05-24 16:58] nicpenaloza commented on #140
Hi @bchaperon

It seems that the problem is with the port, Flutter tells me that it has problems trying to certify it. Does the API only work on that port? Is there no way to change it?

This is the error that generates me
![image](https://user-images.githubusercontent.com/47763248/119382216-5950b380-bc87-11eb-81de-726c162f3c8c.png)

[2021-05-25 01:56] bchaperon commented on #140
Hi @nicolaspgamba

The problem comes from the certificate. The Cortex web socket server uses a self-signed certificate. By default, most web socket clients consider that such certificate is invalid.

Maybe you can configure Flutter to accept self signed certificate. I know it is possible in other languages.
I see that other people had the same issue with Flutter: https://github.com/dart-lang/sdk/i

[2021-05-28 00:54] #139 closed, assigned to tungntEmotiv

[2021-06-02 05:35] #140 closed, assigned to nobody

[2021-07-25 06:27] areejhameed commented on #87
hi..
Please, is there an eeg logger example in python to record the eeg signals
to matrix form instead of recording them on an external excel file ?
thanks
best regards

‫في الثلاثاء، 7 يوليو 2020 في 6:37 م تمت كتابة ما يلي بواسطة ‪Cuong Trinh
Manh‬‏ ***@***.***‬‏>:‬

--

[2021-08-16 11:37] ashwath1295 opened #144 "ERROR WHILE RUNNING EXAMPLE: PY FILE IN PYTHON"
HELLO;
I am facing an issue while running a cortex api\python\async. I have created a client id and secret id. while running example.py, I am facing an error of 32031 invalid credentials even though the credentials are right. where should I allow access to the app for the first time.  or did I miss any step?
![error](https://user-images.githubusercontent.com/51755296/129557739-43dd434b-1f4d-48fc-b

[2021-08-18 15:13] #144 closed, assigned to nobody

[2021-08-26 16:48] nicpenaloza opened #145 "Authorization error"
I purchased the STUDENT license to access the Raw data from the INSIGHT device.

Yesterday I completed the [form](https://www.emotiv.com/student-sdk-application-form/) to request access to the SDK and I have already got the approval.

Now I am trying to make the connection via the Cortex API using Python. I am following the steps indicated in the [documentation](https://emotiv.gitbook.io/cortex-ap

[2021-08-26 22:46] tungntEmotiv commented on #145
Hi @nicpenaloza ,

Please try to put empty string to licenseID as below and try again
`
user = {
    "license" : "",  # set empty license here -> Cortex will help take a valid license in your license list
    "client_id" : "your client id",
    "client_secret" : "your client secret",
    "debit" : 100
}
`
If the issue still happen, please provide your emotivID and clientId for checking

[2021-08-27 16:14] nicpenaloza commented on #145
Hi @tungntEmotiv,

I tried again, but this time leaving the license field empty and it gives me another error
[code]

My code is like this
[code]

PS: I am guided by the example code that is on github

[2021-08-30 03:18] tungntEmotiv commented on #145
Hi @nicpenaloza ,
Your code is fine.
Please try again. Now , your license has API access . Sorry for your inconvenient. Thanks

[2021-09-01 00:48] cgvalle opened #146 "Invalid License Key"
Hi, I'm following the example sub_data.py and I can't pass the authorization step.

I keep getting the following error:

[code]

The license field was left with `""`  as described in the documentation.  My client_id is `5GTv46GwkKC510SwnmPirPfzpnpadlig75tczT0Z` and user jamaro93. Also I'm using the EPOC-X 14 channels.

Thanks

[2021-09-01 02:54] tungntEmotiv commented on #146
Hi @CarlosValleA ,

Did you put a valid license at user object in sub_data.py ?

user = {
    "license" : "your emotivpro license, which could use for third party app", # put your license here
    "client_id" : "your client id",
    "client_secret" : "your client secret",
    "debit" : 100
}

[2021-09-01 03:51] cgvalle commented on #146
Hi @tungntEmotiv,  the license key is empty as `""` as it is [not required ](https://emotiv.gitbook.io/cortex-api/authentication/authorize#examples) according to the documentation.  The user variable is:

[code]

[2021-09-01 09:16] tungntEmotiv commented on #146
Hi @CarlosValleA ,

 Did you tick to "My App require EEG access" box when you create the Cortex App ? Because you don't have a eeg access license. So you shouldn't tick the box. With the basic license you can subscribe other data streams such as "dev", "met","com, "fac"
You can reference to the [link](https://www.youtube.com/watch?v=eEWSUBxPYwI&t=316s)

[2021-09-01 13:16] cgvalle commented on #146
Yes, I tick the "My App require EEG access" field and it says YES. I have an emotivPRO Student, is that not enought to use the API ?. Also the error is generated in line 137 in `cortex.py`  while waiting for the answer of the method `authorize`, and it dosen't reach the point where the suscribe request is reached.

[2021-09-03 15:47] JalSs opened #147 "Error when authorize"
Hi, I'm currently using free license emotiv. I already put the client_id and client_secret. When I run the train.py, it show error in the authorize part. Seem like eit failed to generate the cortex token. Attached below the error that I encounter;

File "C:\Users\Hafizal\Auth\cortex-v2-example-master\python\train.py", line 234, in <module>
    t.do_prepare_steps()
  File "C:\Users\Hafiza\Auth\cort

[2021-09-05 13:30] JalSs commented on #147
I found the resolve, since I'm using free license, i need to untick the EEG access box when I'm creating the app ID. When I'm using the new client ID and client secret, its work

[2021-09-05 13:30] #147 closed, assigned to nobody

[2021-09-06 02:48] tungntEmotiv commented on #146
Hi @CarlosValleA ,

If you have EmotivPRO student -> you will have EEG access  but  you haven't submitted application form at  https://www.emotiv.com/student-sdk-application-form/ to get access for Cortex API for EEG data.
Thanks

[2021-09-21 01:51] #145 closed, assigned to nobody

[2021-10-15 01:40] #146 closed, assigned to nobody

[2021-10-22 01:01] nicpenaloza opened #149 "Python Connection refused"
I am trying to connect via websocket to the Cortex API. I am running the project on Amazon Cloud9, which in turn is connected to an Amazon EC2 server.

[code]
When calling the Cortex class I get the following error

[code]

[2021-10-22 03:34] nguoithichkhampha commented on #149
@nicpenaloza you installed Cortex on Amazon server, right ? did you run successful Emotiv Launcher on this server ?

[2021-10-24 18:49] nicpenaloza commented on #149
@nguoithichkhampha Well, initially I was running the project in Pycharm without any inconvenience, I copied and pasted the code and made the corresponding installations of the packages necessary for the execution and operation of the project, but it generates that connection error when trying to connect through the websocket, I don't know if I should configure something else on the server side

[2021-10-25 16:31] nguoithichkhampha commented on #149
@nicpenaloza Can you check on server port 6868 open or not ? and my first question, did you run successful Emotiv Launcher on this server .

[2021-10-28 14:44] nicpenaloza commented on #149
@nguoithichkhampha Sorry, when you ask me if I run the emotiv launcher, what exactly do you mean? because as such the Cortex app I am using is already accepted on my account. Is there anything else I need to do?

[2021-10-29 00:37] CarlosA-Mtz opened #150 "Python Connection Error"
I've a problem running train.py 'cause a KeyError is shown and I don't know how to fix it, below is shown the execution of train.py and the redirection to cortex.py

[code]

[2021-10-29 02:19] nguoithichkhampha commented on #149
@nicpenaloza I suppose that you will use our linux installer on your server. in this installer includes an application named as Emotiv App or Emotiv Launcher. Did you able to run this app ? and how about port 6868 on server ?

[2021-10-29 02:23] nguoithichkhampha commented on #150
seems there is an error in line
`self.auth = result_dic['result']['cortexToken']`
Can you try to comment this line and print result_dic

[2021-10-30 00:05] CarlosA-Mtz commented on #150
Another Error is shown

[code]

[2021-10-30 01:43] CarlosA-Mtz commented on #145
I have the same problem and my _emotivID_ is **_carlosantonio_** and my _clientID_ **_tXtEeB6XE2aqlBBLJtstvGzKHlhctniBVXwYB856_**

[2021-10-30 04:04] nguoithichkhampha commented on #150
what is the result of
`result_dic `
I think Cortex return error in response of request "authorize".

[2021-10-30 17:47] CarlosA-Mtz commented on #150
Investigated the code further and found that it all originates from this in "result": {'error': {'code': -32027, 'message': 'The application does not have permission to use the license.'}, ' id ': 4,' jsonrpc ':' 2.0 '}.
In another issue I saw that license don't have API access.
My emotivID is carlosantonio and my clientID tXtEeB6XE2aqlBBLJtstvGzKHlhctniBVXwYB856

[2021-11-01 11:19] JalSs opened #151 "Invalid license key after purchasing it"
Hi, I'm having problem with the licensing where it still show invalid after I bought the Student Pro license. During generating the cortex id and secret id, I tick the box since I need the use of EEG access in my app but it still showing error. I already fill the Student SDK form and mentioning it in the Emotiv contact Support but still no response in my email. It have been many days. My error is

[2021-11-01 22:17] nicpenaloza commented on #149
@nguoithichkhampha port 6868 is already enabled on the server, but I have not done the emotiv launcher, I don't know how since the server is the one that gives me the Amazon service

[2021-11-02 06:21] tungntEmotiv commented on #151
Please try again @JalSs . Let us know if the issue still happen. Thanks

[2021-11-02 06:33] JalSs commented on #151
The issue already solved, thank you for your concern :)

[2021-11-02 06:33] #151 closed, assigned to nobody

[2021-11-02 07:10] nguoithichkhampha commented on #149
@nicpenaloza , I think aws server does not accept self signed certificate from Cortex. But what is the reason to run Cortex on aws ? you can not plug a emotiv headset to aws server

[2021-11-02 07:11] nguoithichkhampha commented on #150
@CarlosA-Mtz , you should contact our css team to request API access with your license.

[2021-11-02 16:57] nicpenaloza commented on #149
@nguoithichkhampha It is that I am currently developing an application that connects to the Cortex API through python. My idea was to have everything in the cloud, but I don't think it's possible. I will have to leave part of the backend on my local PC.

As a result of that, another question arises, is it possible to save the CSV files in the cloud? There is a method called 'exportRecord' where a

[2021-11-02 19:03] CarlosA-Mtz commented on #150
where do I communicate with the CSS team?

[2021-11-03 03:07] bchaperon commented on #150
Hi @CarlosA-Mtz
Please use this form on the Emotiv e]web site :)
https://www.emotiv.com/contact-support/

[2021-11-04 02:29] CarlosA-Mtz commented on #150
I need a subscription for use the code?

[2021-11-04 03:59] bchaperon commented on #149
Hi @nicpenaloza

To collect data from your EMOTIV headset, you must run the Cortex service and your Python script on your local PC.

The CSV export can only write the file to your local hard drive. It cannot upload data to your cloud.
So you have to upload the CSV file yourself.

[2021-11-04 04:02] bchaperon commented on #150
Hi @CarlosA-Mtz

It depends on what you want to do.
Most of the features are available for free: mental command, facial expressions, motion data, performance metrics...
But you need a paid subscription to get the raw EEG data.
https://emotiv.gitbook.io/cortex-api/#license

[2021-11-09 19:59] shathaalotaibi opened #152 "How To Connect with Cortex API?"
Is it mandatory to have the Emotive Launcher running, to be able to call wss://localhost:6868?

[2021-11-10 02:12] bchaperon commented on #152
Hi @shathaalotaibi

You must install the EMOTIV Launcher and run it once to login with your EMOTIV id. After that, you don't have to run it to use the Cortex API.
Installing the Launcher also installs the CortexService, which is a background process. When you connect to wss://localhost:6868 you actually connect to the CortexService, you don't connect to the Launcher application.

[2021-11-10 19:25] shathaalotaibi commented on #152
I am developing an Android application and I can not download the Emotiv launcher on it, is there another way?

[2021-11-10 20:10] TeifAlSulaim opened #153 "Can I develop an Android app with cortex API ?"
Can I develop an Android app with cortex API ?

[2021-11-11 02:44] #149 closed, assigned to nguoithichkhampha

[2021-11-11 02:45] #150 closed, assigned to nobody

[2021-11-11 04:24] bchaperon commented on #152
On Android you must install the application "EMOTIV Launcher". But this app is currently in Beta.
The only way to get it is to send a request to the EMOTIV customer support.
https://www.emotiv.com/contact-support/

[2021-11-11 04:31] bchaperon commented on #153
Hi @TeifAlSulaim

Yes, you can develop an Android app. But first, you must install EMOTIV Launcher on your Android device. This app is currently in Beta.
The only way to get it is to send a request to the EMOTIV customer support.
https://www.emotiv.com/contact-support/

[2021-11-16 21:51] iBibek opened #154 "Inject Maker error response"
Hello,
I am using Cortex V2 and have been trying to insert the inject using injectMarker. But, I keep on getting this error back.
 {'code': -32115, 'message': 'The marker timestamp is invalid (too far in the past).'}
Any idea on what's wrong?

[2021-11-17 02:28] #152 closed, assigned to nobody

[2021-11-17 02:28] #153 closed, assigned to nobody

[2021-11-17 03:25] bchaperon commented on #154
Hi @iBibek

When you inject a marker, the time in your request cannot be too far in the past. You should inject your markers in real time, when the event you want to marks happens.

https://emotiv.gitbook.io/cortex-api/error-codes#32115-the-time-of-the-marker-is-too-far-in-the-past

Also make sure that you use the right unit. Your time must be in milliseconds.

[2021-11-17 19:24] areejhameed opened #155 "python eeg logger"
hi..
I'm using emotiv insight , I need to perform online EEG classification but the python code for eeglogger doesn't work, can you help me in this issue?
thanks

[2021-11-18 10:08] bchaperon commented on #155
Hi @areejhameed

Can you give me more details please? Which Python script are you running exactly? And what error do you get?

[2021-11-18 11:46] areejhameed commented on #155
Hi..
Thank you for your response..
Previously,I used emotiv epoc + with the attached file code and an error
with can not loading the (edk.dll) library then exit from the code..but now
i'm using emotiv insight (5 channels) with record.py code but in the online
classification this will delay the processing , i need to manipulate the
data from the file directly to get the raw eeg signals as the case

[2021-11-19 08:25] bchaperon commented on #155
Hi @areejhameed

The edk.dll is the old Emotiv SDK. It is not supported anymore.
Instead, you should download and install our latest software "Emotiv Launcher".
https://www.emotiv.com/my-account/downloads/

This will also install the Cortex API on your computer. The documentation for this API is here:
https://emotiv.gitbook.io/cortex-api/

Then you can run the Python examples from this repository.

[2021-11-19 09:31] areejhameed commented on #155
Thank you so much

في الجمعة، ١٩ نوفمبر ٢٠٢١ ١١:٢٥ ص Benoit ***@***.***> كتب:

[2021-11-23 09:34] enrique-argones opened #156 "Problem exporting record"
Hi,

We are developing an app to capture an EEG database. We need to perform the captures while the subjects perform certain operations / interactions. We create the record following the procedures shown in the cortex-v2-example, and everything works apparently just fine, but when we ask the service to export the record to a given local folder, we get an error code and the export fails. I attach h

[2021-11-23 09:53] ashwath1295 opened #157 "ImportError: cannot import name 'Dispatcher' from 'pydispatch'"
while running the cortex.py

Traceback (most recent call last):
ImportError: cannot import name 'Dispatcher' from 'pydispatch'

[2021-11-24 07:52] ashwath1295 commented on #157
Use
pip install python-dispatch

[2021-11-24 07:52] #157 closed, assigned to nobody

[2021-11-25 07:56] nhungpham11 commented on #156
Hi,
I see that you called API exporting record before data file closed.
Pls wait until you receive the warning:
` warning  {"jsonrpc":"2.0","warning":{"code":18,"message":{"message":"The session data has been successfully saved."}}}`
After that you can call to export record successfully.

[2021-11-25 08:47] enrique-argones commented on #156
Thank you very much, I will implement this and let you know whether this fixes the issue.

[2021-11-25 16:06] enrique-argones commented on #156
Indeed, this fixed the problem. I was confused, since I could not see the warning being processed in the example where the record is exported. I had to add a signal to the cortexclient class that emits the warning so I can detect it. Now, it works.

Thanks!

[2021-11-26 02:58] nhungpham11 commented on #156
Thank for your feedback and nice to hear that your problem has been resolved :) .
Can you tell me what language of Example that you followed.
We will check it and add missing point.
Thanks!

[2021-11-26 07:53] enrique-argones commented on #156
I am developing in C++ using Qt. The patch I made consists of adding a signal in the CortexClient that emits the warning code and message, so other classes can capture it.

Thank you.

[2021-11-29 02:10] #155 closed, assigned to nobody

[2021-11-29 02:11] #154 closed, assigned to nobody

[2021-12-04 20:14] nigoshaya opened #158 "Deployment of the web-app on linux server"
Hello all!

I am developing a web application with Python and Cortex API.
At the moment my application is only running locally and I am looking for a way to deploy the application on the Internet on a Linux server. Can you please explain me if this is possible and how?

Thanks a lot.

[2021-12-06 02:52] #156 closed, assigned to nhungpham11

[2021-12-06 10:52] bchaperon commented on #158
Hi @nigoshaya

You can install Cortex on your Linux server. But this Cortex won't be able to connect to your Emotiv headset. You must install Cortex locally so it can connect to you headset via Bluetooth or USB dongle.

[2021-12-06 12:33] #158 closed, assigned to nobody

[2022-01-05 17:51] Batuhanyucel opened #160 "RAW eeg monitoring with EPOC"
I need to do RAW eeg monitoring with python using cortex API or something else like LSL. Do you have the ready code or what steps ı should follow can you help me ?
 İf I need Pro licence for this project ı will have it.
Device : emotiv epoc+ Model no :1.0
(bybatuhanyucel@gmail.com)

[2022-01-07 02:42] tungntEmotiv commented on #160
Hi @Batuhanyucel ,

To get EEG data you need a PRO license . You can reference the python example for EEG subscribing at https://github.com/Emotiv/cortex-v2-example/blob/master/python/sub_data.py

Thanks

[2022-01-09 15:36] Batuhanyucel commented on #160
[cid:c1f23b8f-8278-4df8-a530-b9b87ee4a817]
Thank you for your feedback. What ı'm gonna write to licence part can you help me ? İs it my order number ?
I have emotiv pro licence already
________________________________
Gönderen: tungntEmotiv ***@***.***>
Gönderildi: 7 Ocak 2022 Cuma 05:42
Kime: Emotiv/cortex-v2-example ***@***.***>
Bilgi: Batuhanyucel ***@***.***>; Mention ***@***.***>
Konu: Re: [E

[2022-01-09 16:11] Batuhanyucel commented on #160
I got my licence ID , emotiv ID and ssecret then ı'm trying to subscribe data and ı'm getting
ERROR : "code": -32021,
        "message": "Invalid Client Credentials."

I have pro licence but the API does'nt let me work.

[2022-01-09 17:14] haidergb commented on #55
Hi @bchaperon
Do I need to fill the application each time I purchase a new PRO license?

[2022-01-11 07:05] tungntEmotiv commented on #160
Hi @Batuhanyucel ,

Did you register your application  and put the clientId and secret to user ?
`
user = {
    "license" : "your emotivpro license, which could use for third party app",
    "client_id" : "your client id",
    "client_secret" : "your client secret",
    "debit" : 100
}
`
The video https://www.youtube.com/watch?v=oKvhDe7tNts guide training example but data subscribing is similar.

[2022-01-11 08:15] bchaperon commented on #55
Hi @haidergb
Yes, you do :)

[2022-01-11 09:38] Batuhanyucel commented on #160
i did it and if ı tried not eeg required apps they are working. But if i mark "my app will be required to raw eeg" ı'm getting  Invalid Client Credentials error  (I already have a  pro licence )

[2022-01-11 09:53] Batuhanyucel commented on #160
if you want to check ı can give to you a my all ID's with mail .

[2022-01-11 11:27] tungntEmotiv commented on #160
Could you send me the log lines on your console ? The error said that the clientId or secret is invalid. my email is tungnguyen@emotiv.com

[2022-01-11 12:03] Batuhanyucel commented on #160
I sended you my user code lines  with my cortex app page .
Thank you for interest a lot

[2022-01-13 08:36] Batuhanyucel commented on #160
I sended my cortex.txt with e-mail.
For your information.
Batuhan YÜCEL

[2022-01-13 09:07] tungntEmotiv commented on #160
Yes, as the error said that the clientId and secret is invalid.
Can I set up a teamviewer for your machine?  Where are you located? We will
choose  a suitable time  for us.

On Thu, Jan 13, 2022 at 3:36 PM Batuhanyucel ***@***.***>
wrote:

[2022-01-13 09:27] Batuhanyucel commented on #160
I'm living istanbul and ı'm availablle for 4-5 hours .  Today You can join my teamwiever whenever you want in 5 hours. İf u avaliable too.
I gave to you my teamwiever ID 's from e-mail

[2022-01-13 10:06] Batuhanyucel commented on #160
Thank you for your high interest and concern. You solved my problem with your high skill and knowledge.

[2022-01-13 10:06] #160 closed, assigned to nobody

[2022-01-15 18:42] shathaalotaibi opened #161 "Mobile app developing language"
I have a query, is there anyone who tried to develop a mobile application with Emotiv successfully? If the answer is yes, which language did they use?

[2022-01-17 07:49] Batuhanyucel opened #162 "The type of data"
I am getting real time data with cortex sub.data py but ı can’t understand what is the type of this data?
what should ı do for reachimg  voltage values from these datas
![Uploading BFA830F5-36D1-4E19-9834-5F0FAC2B5F64.jpeg…]()

[2022-01-17 08:15] bchaperon commented on #162
Hi @Batuhanyucel
The format of the data you receive from the Cortex API is described here:
https://emotiv.gitbook.io/cortex-api/data-subscription/data-sample-object

[2022-01-17 08:23] bchaperon commented on #161
Hi @shathaalotaibi
To create a mobile application, you have 2 options:

1. Install the application "Emotiv Launcher" on iOS or Android. This app creates a WebSocket server, exactly like Cortex on Windows/macOS. So you can write your application with any language.
2. Link your mobile application with the Cortex library. So your app doesn't depend on Emotiv Launcher. The library provides an API in O

[2022-01-17 11:39] Batuhanyucel commented on #162
İt says “ For each EEG sensor, you get 1 value in microvolt” but values are over 400 mV it is real ?

[2022-01-17 11:48] Batuhanyucel commented on #162
Correction : over4000

[2022-01-17 13:14] shathaalotaibi commented on #140
Did the connection work with you?

[2022-01-17 19:40] Batuhanyucel opened #163 "Print Raw Data Code"
I got eeg signals real time from emotiv but ı have to print them too. All eeg companies which supporting open source codes are already shared printing Raw EEG datas with python but emotiv doesn't. Can you help me about this ?

[2022-01-17 19:41] Batuhanyucel commented on #163
İf we don't look raw eeg signals ,the eeg datas just number.

[2022-01-18 08:20] bchaperon commented on #162
Hi @Batuhanyucel
Yes, the values usually are around 4200 micro volts. It is expected.
But before you do analyze the data, it is recommended that you remove the DC offset.
https://emotiv.gitbook.io/emotivpro-v3/notes-on-the-data/dc-offset

[2022-01-18 09:14] Batuhanyucel commented on #162
Thank you

[2022-01-18 09:14] #162 closed, assigned to nobody

[2022-01-18 09:36] bchaperon commented on #163
Hi @Batuhanyucel
What do you mean by "printing the data"?
Do you want draw the EEG graph on your screen?
EMOTIV doesn't provide the code to do that, but it should be quite easy to do it in Python using a library like matplotlib.
You can also use the EMOTIV PRO software to see the graph in real time.

[2022-01-19 21:16] Batuhanyucel commented on #163
Okay ı will try but ı have one more question. I need to put every single channel info in single array . Like {AF3 electrode:4168 , time :1.600}. How can ı do this can you help me ?   Because before using matplotlib ı  think ı need to seperrate and throw in directory . every single channel.

[2022-01-19 21:28] Batuhanyucel commented on #163
if you tecah me for a single channel ı can do others sir.

[2022-01-22 10:10] #163 closed, assigned to nobody

[2022-01-25 02:31] #161 closed, assigned to nobody

[2022-01-25 20:41] shathaalotaibi opened #165 "Sensors status"
Is there a way with the cortex API to know if each sensor receives signals strongly, weakly, or not positioned correctly (green, yellow, red) the same as available in EMOTIV applications?

[2022-01-26 10:03] bchaperon commented on #165
Hi @shathaalotaibi

Yes, the data you are looking for is the Contact Quality and/or the EEG quality.

To receive this data in real time, you must subscribe to the stream "dev" to get the contact quality.
You can also use the stream "eq" to get the EEG Quality.
https://emotiv.gitbook.io/cortex-api/data-subscription

Please check the Emotiv PRO user manual for more details about CQ and EQ.
https://e

[2022-02-02 12:29] maitha21 opened #166 "I have an error and I couldn't fix it"
I am running train.py , my headset is epoc x and I already  got my API license key
query headset --------------------------------
connect headset --------------------------------
102
Connect headset EPOCX-E20207CC successfully.
request access --------------------------------
authorize --------------------------------
Traceback (most recent call last):
  File "C:\Users\Omait\Downloads\cortex-v2-exa

[2022-02-07 02:13] #165 closed, assigned to nobody

[2022-02-07 15:03] tungntEmotiv commented on #166
Hi @maitha21 ,

I suppose that the "authorize" process might get error lead to error at create_session as you mention. Could you help set debug_mode = True at __init__ () of train.py ? I want to see more log for authorize process .
Thanks

[2022-02-24 08:37] #166 closed, assigned to tungntEmotiv

[2022-02-28 02:52] chowa3 opened #168 "Cortex Python Unsubscribe"
What is the best way to unsubscribe from a data stream? There is not an unsubscribe method in the Python Cortex API. I tried the following:

self.c = Cortex(user, debug_mode=True)
self.c.close_session()

However, this does not work for my application as I need to later re-open the session. When attempting to:
server.c.create_session(server.c.auth, server.c.headset_id)

"behavior": "Cortex has stop

[2022-02-28 03:26] chowa3 commented on #168
Disregard! I figured it out. I added the following code to cortex.py

# Added by chowa3
    def unsub_request(self, streams):
        print('unsubscribe request --------------------------------')

        unsub_request_json = {
            "id": 1,
            "jsonrpc": "2.0",
            "method": "unsubscribe",
            "params": {
                "cortexToken": self.auth,
                "s

[2022-02-28 13:36] tungntEmotiv commented on #168
Yes, thanks for your contribution.

[2022-03-01 00:51] CarlosA-Mtz opened #169 "Problem with authorization"
Greetings, I bought the student license for Emotiv pro and the following issue appears:
ine 137, in authorize
    self.auth = result_dic['result']['cortexToken']
KeyError: 'result'

[2022-03-02 17:51] ashwath1295 opened #170 "How can we get Performance Matrix from cortex ?"
I have the pro license. I want to get Live Performace Matrix from the Cortex.
Which Python script should I use to do so?

[2022-03-03 06:20] #168 closed, assigned to nobody

[2022-03-03 07:28] tungntEmotiv commented on #169
Hi @CarlosA-Mtz ,

Which python example did you run ?
Please help to set debug_mode=True in the __init__ function as below. We need more log to debug
`
    def __init__(self):
        self.c = Cortex(user, debug_mode=True)
`
and make sure you fill  below user object
`user = {
    "license" : "",
    "client_id" : "your client id",
    "client_secret" : "your client secret",
    "debit" : 100
}
`
P

[2022-03-03 07:34] tungntEmotiv commented on #170
Hi @ashwath1295 ,

You can use sub_data.py with a modification at line 205
streams = ['met']  # for performance metrics

[2022-03-03 08:03] #170 closed, assigned to nobody

[2022-03-03 16:40] Motlib97 opened #171 "Cortex has unloaded the profile"
Greetings
I'm trying to build my application on python. I've loaded my profile using the 'setupProfile'  method and I'm getting a stream of mental commands data. Now, when I rerun the code I get this message 'A profile is already loaded for this headset. You must unload it first.'.
I know how to unload the profile by setting 'status' to 'unload', but I don't want to do that every time I rerun the

[2022-03-04 09:13] gubeifang commented on #113
Hello,
I'm a Emotiv Epoc+ user, I download "Emotiv-Installer-v3.2.0-x64.exe" from my Emotiv account
There was an error when I use it, like the picture show,I can't get the data
What should I do to solve this problem？
Look forward to your reply，thank you

[2022-03-04 09:35] nguoithichkhampha commented on #113
@gubeifang this is reason for your error

[2022-03-05 04:08] gubeifang commented on #113
hi，I've tried what you said, but the problem still hasn't been solved. Can you remotely control my computer to help solve it

At 2022-03-04 17:35:57, "Cuong Trinh Manh" ***@***.***> wrote:

@gubeifang this is reason for your error

the cause is missing openssl library when run with Qt example on windows.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on th

[2022-03-06 21:58] CarlosA-Mtz commented on #169
I followed the instructions as they appear in the video, last time the same error happened to me but they told me that I needed the license, which I already got

[2022-03-07 01:13] tungntEmotiv commented on #169
Hi @CarlosA-Mtz ,

Could you send us your emotivID and the clientId via email tungnguyen@emotiv.com ? We will check more

[2022-03-07 06:01] gubeifang commented on #113
hi， I've tried what you said, install the OpenSSL library， but the problem still hasn't been solved. Can you remotely control my computer to help solve it

[2022-03-07 06:11] nguoithichkhampha commented on #113
@gubeifang , sorry, this is out of scope in our supporting.

[2022-03-07 06:35] gubeifang commented on #113
OK，Can you provide me with some other solutions to solve this problem？

At 2022-03-07 14:12:10, "Cuong Trinh Manh" ***@***.***> wrote:

@gubeifang , sorry, this is out of scope in our supporting.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@

[2022-03-07 06:41] nguoithichkhampha commented on #113
@gubeifang , you need to check supported version in your Qt lib and add it into project. Ex: Qt lib supports open ssl 1.1, you can not use open ssl 1.0. One more thing, openssl lib has some dependencies. You need all of them to make openssl lib work.

[2022-03-07 06:48] gubeifang commented on #113
thank you

At 2022-03-07 14:42:08, "Cuong Trinh Manh" ***@***.***> wrote:

@gubeifang , you need to check supported version in your Qt lib and add it into project. Ex: Qt lib supports open ssl 1.1, you can not use open ssl 1.0. One more thing, openssl lib has some dependencies. You need all of them to make openssl lib work.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage

[2022-03-07 07:36] rmwvamp opened #172 "ModuleNotFoundError: No module named 'lib.cortex'"
I executed the following code `import asyncio
import time
import sys
import os
import threading
from pynput import keyboard
from pynput.mouse import Button, Controller
from lib.cortex import Cortex
from datetime import datetime

mouse = Controller()
terminated = False`

I have installed pypnut, web sockets, websocket-client,cortex-cli,cortex,cortex2

[2022-03-07 10:09] bchaperon commented on #171
Hi @Motlib97

Before you load a profile, you should call "getCurrentProfile" to check which profile is already loaded.
https://emotiv.gitbook.io/cortex-api/bci/getcurrentprofile

If your profile is already loaded, then you don't need to load it again.
If another profile is loaded, then you must unload it before loading your profile.
If no profile is loaded, then you can load your profile immediate

[2022-03-07 10:12] bchaperon commented on #172
Hi @rmwvamp

I suppose it should be `from cortex import Cortex` instead of `from lib.cortex import Cortex`.

[2022-03-07 14:23] rmwvamp commented on #172
On doing the same. It shows the following error:
[C:\Users\User>python -u "c:\Users\User\Desktop\experiment\main.py"
Traceback (most recent call last):
  File "c:\Users\User\Desktop\experiment\main.py", line 8, in <module>
    from cortex import Cortex
ImportError: cannot import name 'Cortex' from 'cortex' (C:\Users\User\AppData\Local\Programs\Python\Python37-32\lib\site-packages\cortex\__init__.p

[2022-03-11 14:47] Motlib97 commented on #171
oh I see, thank you

[2022-03-14 01:35] #171 closed, assigned to nobody

[2022-03-14 07:11] tungntEmotiv commented on #169
Thanks @CarlosA-Mtz ,
We have received your email. Because you create an application which require EEG access. So you need request API access via https://www.emotiv.com/cortex-sdk-application-form/

[2022-03-16 03:54] gubeifang commented on #113
hello , my openssl  version 1.1.1m, and it normal operation，However, the following situation still occurs，“result”:[]

At 2022-03-07 14:42:08, "Cuong Trinh Manh" ***@***.***> wrote:

@gubeifang , you need to check supported version in your Qt lib and add it into project. Ex: Qt lib supports open ssl 1.1, you can not use open ssl 1.0. One more thing, openssl lib has some dependencies. You need all

[2022-03-18 17:10] MHormes opened #174 "Authorize issue after successful access request"
So i'm trying to use the free version of the API with the Emotiv BCI. I am able to request the access with my client id and client secret. When I try to authorize and get a cortexToken, the authentication keeps failing with code -32021 . There is a message that the credentials are incorrect. I looked at the documentation and my authorize request seems to be the correct. The same id and client are

[2022-03-22 23:09] #174 closed, assigned to tungntEmotiv

[2022-03-23 01:34] #169 closed, assigned to nobody

[2022-03-29 01:48] gunnicus opened #175 "Cannot find OnMentalCommandReceived event"
Hi,

I can't find OnMentalCommandReceived event from c# sample, is there a sample how can I detect a "Push" command and do something in the code after receive a "Push" command.

Thanks a lot.

[2022-04-01 20:28] shathaalotaibi opened #176 "Inquiries about the POW feature in Cortex API?"
I have a query about the POW function; what did you do with the EEG to get these values?
I need to understand what happened in the background.

Also, can you tell me what is the MAX and MIN Values for each value in the resulted array?

[2022-04-04 02:54] #172 closed, assigned to nobody

[2022-04-04 04:12] tungntEmotiv commented on #175
Hi @gunnicus ,

Not like unity example, C# example hasn't support subscribed 'com' data stream for mental command. But you can modify the code as below to see the 'com' data.

1) Modify the  Training.cs  as below
![image_com](https://user-images.githubusercontent.com/21233798/161472431-bee4b5ab-fde2-4e49-8c02-6b8891c32e2f.png)

![image](https://user-images.githubusercontent.com/21233798/161472445-

[2022-04-04 19:46] vinay-sourcecodes opened #177 "{'error': {'code': -32027, 'message': 'The application do not have permission to use the license.'}, 'id': 4, 'jsonrpc': '2.0'}"
i have a student license of cortex , when i try to run authorize() without the license in the parameters, i get {'error': {'code': -32002, 'message': 'Invalid License Key.'}, 'id': 4, 'jsonrpc': '2.0'} and when i pass license in the parameters i get {'error': {'code': -32027, 'message': 'The application do not have permission to use the license.'}, 'id': 4, 'jsonrpc': '2.0'}.
 reached out to the c

[2022-04-05 01:06] tungntEmotiv commented on #177
Hi @vinay-sourcecodes ,

Have you request EEG access via https://www.emotiv.com/cortex-sdk-application-form/ ?

[2022-04-06 18:58] #177 closed, assigned to nobody

[2022-04-13 08:06] bchaperon commented on #176
Hi @shathaalotaibi

The band power are calculated every 0.5 seconds, using the last 2 seconds of EEG data.
The steps are:
1. High pass filter
2. Remove DC offset (for each EEG channel, remove the mean value)
3. Hanning window
4. FFT
5. make the sum of the squares of the FFT values

[2022-04-19 02:00] #175 closed, assigned to tungntEmotiv

[2022-04-25 04:00] #176 closed, assigned to nobody

[2022-05-28 04:40] vishwasdalal opened #179 "Stuck at executing https://github.com/Emotiv/cortex-v2-example/blob/master/python/sub_data.py"
I do not have the license to the raw data stream, I want to access the free APIs
I made the following changes to https://github.com/Emotiv/cortex-v2-example/blob/master/python/sub_data.py

# list data streams
    streams = ['mot','met','pow', 'dev']
    s.start(streams)

My python is stuck at this
![unnamed](https://user-images.githubusercontent.com/41986273/170810194-96ffa0da-774a-4956-a383-94e0c

[2022-05-30 03:31] tungntEmotiv commented on #179
Hi @vishwasdalal ,

I think the problem might from missing a python lib such as python-dispatch or something wrong when receive response message from websoscket. So

1) do you install python-dispatch via "pip install python-dispatch" ?
2) Please add a debug log to on_message function at cortex.py as below? And let us know the result
`
def on_message(self, *args):
        recv_dic = json.loads(args

[2022-05-30 05:07] vishwasdalal commented on #179
hi @tungntEmotiv
1.do you install python-dispatch via "pip install python-dispatch" ?
- I have python-dispatch installed already
2. Please add a debug log to on_message function at cortex.py as below? And let us know the result
- well I inserted a breakpoint at **on_message** and the program is stuck before that, **on_message** is never called.

[2022-05-30 05:19] vishwasdalal commented on #179
Hi @tungntEmotiv

![image](https://user-images.githubusercontent.com/41986273/170921825-996ab70b-22f3-4ca5-9a18-a1d9c5dc1cd1.png)

this is where this shows up, this is in **threading.py**
**cortex.py** line 107 calls this   **self.websock_thread .start()**

[2022-05-31 06:49] #179 closed, assigned to nobody

[2022-06-18 09:08] danifm1321 opened #180 "Can't login on Cortex UI"
When I execute cortex_code_example.js I have the following error:
[code]
I'm using EMOTIV Launcher 3.3.0.26 on Ubuntu and I don't get any access request in the launcher. I have the TCP port 6868 listening and the user look like this:
[code]
with variables clientId and clientSecret with the pertinent values.

Any help? Did I misunderstand anything?

[2022-06-18 10:40] nguoithichkhampha commented on #180
@danifm1321 , it say

did you login your emotiv id ?

[2022-06-20 08:16] danifm1321 commented on #180
I logged in the launcher (I even set up a virtual device), if that's the answer to your question.

[2022-06-20 10:19] nguoithichkhampha commented on #180
did you keep Emotiv Launcher running when you run the example code ? you should see a popup message from Emotiv Launcher ask for accept the request.

[2022-06-20 14:15] danifm1321 commented on #180
Yes, Emotiv Launcher is running while I run
[code]
in a terminal, and I don't get any popup in the launcher.

I am using [this](https://www.emotiv.com/download_emotiv_launcher_ubuntu.php) launcher, it is the correct one, right?

[2022-06-20 16:02] nguoithichkhampha commented on #180
@danifm1321, can you log the value of `accessGranted` in the function `checkGrantAccessAndQuerySessionInfo`

[2022-06-20 21:32] danifm1321 commented on #180
Instead of logging the value of `accessGanted` I logged the value of `requestAccessResult` and I got
`{"error":{"code":-32021,"message":"Invalid Client Credentials."},"id":1,"jsonrpc":"2.0"}`.

So I hard coded clientId and clientSecret instead of getting them from files and it worked, although I checked the variables were getting the correct values.

Thank you for the support and sorry for the pro

[2022-06-20 21:32] #180 closed, assigned to nobody

[2022-07-11 09:20] tearoue323 opened #182 "How do I subscribe to performance metrics data in Unity"
As title， How do I subscribe to performance indicator data in Unity, I just want to get the foc and eng data, is it in DataStreamManger.cs or PMDataBuffer.cs?

[2022-07-13 10:04] tungntEmotiv commented on #182
Hi @tearoue323 ,

To get the performance metrics data you can use EmotivUnityItf.cs and follow the below steps:
1) call Init() to set application configuration ( clientId, client Secret...) and if you want to save data to buffer before obtaining the data , please set isDataBufferUsing = true
2) call Start() to start a websocket and authorizing
3) CreateSessionWithHeadset(string headsetId)  to crea

[2022-07-13 16:07] tearoue323 commented on #182
@tungntEmotiv  I will give it a try ,thanks.

[2022-07-21 07:29] philhyp opened #183 "Python Example Dispatch Reference Error"
from pydispatch import Dispatcher

can not be referenced, editor asks me to initialize Dispatcher in the lib, how could we resolve this?

[2022-07-21 07:38] tungntEmotiv commented on #183
Hi @philhyp ,

Have you installed  python-dispatch via "pip install python-dispatch" ?

[2022-07-21 10:21] philhyp commented on #183
@tungntEmotiv yes, also tried PyDispatcher - could it be a version issue?

[2022-07-21 16:11] tungntEmotiv commented on #183
@philhyp ,

Ah I mean that python-dispatch (https://pypi.org/project/python-dispatch/) not PyDispatcher (https://pypi.org/project/PyDispatcher/) . They are not the same

[2022-08-01 07:09] #182 closed, assigned to tungntEmotiv

[2022-08-03 14:40] craigvear opened #184 "Invalid Key licence in Python with registered Cortex app"
Running sub.data.py. Have supplied your_app_client_id & your_app_client_secret in the main() as given in EMOTIV account.
Headset Insight2 connected, and Cortex App showing in EMOTIV launcher.

Error returns :

[code]

Why invalid licence?

[2022-08-03 15:44] nguoithichkhampha commented on #184
@craigvear , because you send empty license in the request
`"license": ""`
if you don't know exactly your license id. you can remove the params "license", our system will choose the best match
`{
    "jsonrpc": "2.0",
    "method": "authorize",
    "params": {
        "clientId": "removed for security",
        "clientSecret": "removed for security",
        "debit": 10
    },
    "id": 4
}`

[2022-08-03 15:55] craigvear commented on #184
Thanks. Which line of code do I change for that ? Is it in cortex.py? FYI I am using your sub_data.py out of the box.

[2022-08-04 09:16] craigvear commented on #184
removed licence param in LOC449 in cortex.py. same response

[code]

[2022-08-04 09:23] nguoithichkhampha commented on #184
@tungntEmotiv pls help to check this issue

[2022-08-04 13:41] craigvear commented on #184
I now seem to be getting the following:

handle_error: request Id 4
{'code': -32130, 'message': 'The cloud token is refreshing.'}

[2022-08-05 03:02] tungntEmotiv commented on #184
@craigvear ,
Do you have PRO license or free license?
If you only have free license, please don't tick "My App required EEG access"  as below:
![image](https://user-images.githubusercontent.com/21233798/182992469-c77fb2fa-cf8d-4478-a258-361871f67384.png)

If you have PRO license, but still get the issue. Please send us your clientID and emotivID via email tungnguyen@emotiv.com We will check more.

[2022-08-05 07:47] craigvear commented on #184
Have basic license. Already ticked eeg for my app.

UPDATE:

yep - now works. Thank you for your help. perhaps you should make this process clearer for developers.

pm data: {'met': [True, 0.642478, True, 0.74391, 0.0, True, 0.363572, True, 0.456362, True, 0.658906, True, 0.140554], 'time': 1659718532.1614}
pm data: {'met': [True, 0.404533, True, 0.528303, 0.0, True, 0.32198, True, 0.385608, True,

[2022-08-05 16:57] craigvear commented on #184
working - thank you

[2022-08-05 16:57] #184 closed, assigned to tungntEmotiv

[2022-08-09 06:33] #183 closed, assigned to nobody

[2022-09-05 10:34] KevinsWang opened #185 "When running python/sub_data.py, it interrupted at this step."
Subscribe __init__
websocket opened
do_prepare_steps--------------------------------
check has access right --------------------------------

[2022-09-08 02:43] tungntEmotiv commented on #185
@KevinsWang ,
Could you help add a debug as below in https://github.com/Emotiv/cortex-v2-example/blob/4b35cd74c2b7b478c68dc67a3ae0dca48612701a/python/cortex.py#L131
at line 373 . I want to see the response
`
 def on_message(self, *args):
        recv_dic = json.loads(args[1])
        print(recv_dic)
`
you mean that the program is interrupted suddenly at "check has access right" or do nothing any p

[2022-09-23 14:26] nwagu opened #186 "Can I use academic PRO license with a different emotivID than the one that applied for the license"
Hi,

My school lab has an academic PRO license. I don't have access to the Emotiv account that was used to purchase the license but I have the license key. I have my personal emotiv account and emotiv id. If I create an application with my account, can I use the client id and client secret of the application with the license key that was not purchased by me?

[2022-10-19 02:45] #185 closed, assigned to tungntEmotiv

[2022-10-20 04:20] thamha-emotiv commented on #186
Hi nwagu,
If you have a valid PRO license key, please make sure your school lab has applied for SDK access for that PRO license key, and after that you can register your client ID and client secret and use that license key to unlock access to raw EEG and create the application. Please email our support team through this form  [https://www.emotiv.com/contact-support/](https://www.emotiv.com/contact

[2022-10-20 04:20] #186 closed, assigned to nobody

[2022-11-25 20:50] asim-v commented on #145
@tungntEmotiv  Hello, I have the same issue, my emotivID is **emiliobazan** and my clientID is **exr7IrTMi6hnnTfx6kzRhmyWMyFiYFi5TpadfQu2**

[2022-11-28 06:52] tungntEmotiv commented on #145
@asim-v , We see that you haven't granted EEG API access for your application. Please grant via https://www.emotiv.com/cortex-sdk-application-form/